/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#top-header a {
    display: inline;
    color:black;
    text-decoration: none;
}

#toph1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #333;
    font-weight: bold;
    display: inline;
}